{% from 'macros/form.html' import render_field %}
<form id='join' action='{{ url_for('.join') }}' method='post'>
    <fieldset>
        {{ render_field(join_form.nickname, errpos='inline') }}
        {{ render_field(join_form.password, errpos='inline') }}
        {{ render_field(join_form.confirm, errpos='inline') }}
        {% if 'access_code' in join_form %}
            {{ render_field(join_form.access_code, errpos='inline') }}
        {% endif %}
        <button type='submit' class='btn btn-large'>Join</button>
    </fieldset>
</form>
