<form id='report' class='form-inline clearfix' action='{{ url_for('report') }}' method='post'>
    <h3>Report Match</h3>
    <fieldset>
        <div class='field field-opponent'>
            <label for='{{ report_form.opponent.id }}'>{{ report_form.opponent.label.text }}</label>
            <select id='{{ report_form.opponent.id }}' {% if report_form.opponent.length == 0 %}disabled{% endif %}>
                {%- for subfield in report_form.opponent if subfield.label.text != current_user.nickname %}
                {{ subfield }}
                {% else %}
                <option value=''>- -</option>
                {%- endfor %}
            </select>
        </div>

        <div class='field field-result'>
            <label>{{ report_form.result.label.text }}</label>
            <div class='control-group'>
                {% for subfield in report_form.result %}
                <label class='radio inline'>
                    <input type='radio' id='{{ subfield.id }}' name='{{ subfield.name }}' />
                    {{ subfield.label }}
                </label>
                {% endfor %}
            </div>
        </div>

        <button type='submit' class='btn btn-success'>Submit Report</button>
    </fieldset>
</form>
