{% extends 'layouts/base.html' %}

{% block stylesheet -%}
<link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/faceoff.app.css') }}'>
{%- endblock %}

{%- block body %}
<div class='container'>
    <div id='header' class='clearfix'>
        <strong class='title'><a href='{{ url_for('landing') }}'>Faceoff</a></strong>
        <strong class='subtitle'>{{ league.name }}</strong>

        <h3>League Menu</h3>
        {%- set pages = [
            {'title': 'Dashboard', 'endpoint': 'dashboard'},
            {'title': 'Stats', 'endpoint': 'stats'},
            {'title': 'History', 'endpoint': 'history'},
        ] %}
        <ul class='menu'>
            {% for page in pages -%}
            <li{% if request.endpoint == page.endpoint %} class='selected'{% endif %}>
                {%- if request.endpoint == page.endpoint %}<strong>{% endif -%}
                <a href='{{ page.url or url_for(page.endpoint) }}'>{{ page.title }}</a>
                {%- if request.endpoint == page.endpoint %}</strong>{% endif -%}
            </li>
            {% endfor -%}
            <li><a id='logout' data-confirm='Are you sure you want to logout?' href='{{ url_for('logout') }}'>Logout</a></li>
        </ul>

        <h3>Other Leagues</h3>
        <ul class='switch'>
            {%- for active_league in active_leagues if league.slug != active_league.slug %}
            <li><a href='{{ url_for('dashboard', league=active_league.slug) }}'>{{ active_league.name }}</a></li>
            {%- endfor %}
        </ul>
    </div>
    <div id='attention'>
        {% include 'forms/report.html' %}
    </div>
    <div id='content'>
<!-- CONTENT START -->
<h1>{{ page_title or head_title }}</h1>
{% block content %}{% endblock %}
<!-- CONTENT END -->
    </div>
</div>
{% endblock %}
