{% from 'macros/page.html' import page_id, page_class with context -%}
<!doctype html>
<html>
<head>
    <title>Faceoff{{ ' | %s' % head_title if head_title }}</title>
    <meta name='description' content='FACEOFF is a small web app that ranks players in 1-v-1 competitive games.'>
    <meta name='author' content='Artem Nezvigin, artem@artnez.com'>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/bootstrap.css') }}'>
    <link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/faceoff.css') }}'>
    {%- block stylesheet %}{% endblock %}
    <script src='{{ url_for('static', filename='js/jquery.js') }}'></script>
    <script src='{{ url_for('static', filename='js/bootstrap.js') }}'></script>
    <script src='{{ url_for('static', filename='js/faceoff.js') }}'></script>
    {%- block javascript %}{% endblock %}
</head>
<body {{ page_id() }} {{ page_class() }}>
{%- block body %}{% endblock -%}
</body>
</html>

