{% extends 'layouts/base.html' %}

{% block stylesheet -%}
<link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/faceoff.simple.css') }}'>
<link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/faceoff.league.css') }}'>
{%- endblock %}

{%- block body %}
<div class='container'>
    <div id='header' class='clearfix'>
        <strong class='title'><a href='{{ url_for('dashboard') }}'>{{ current_league.name }}</a></strong>
    </div>
    <div id='nav'>
        <h3>League Menu</h3>
        {%- set pages = [
            {'title': 'Dashboard', 'endpoint': 'dashboard'},
            {'title': 'Standings', 'endpoint': 'standings'},
            {'title': 'History', 'endpoint': 'history'},
        ] %}
        <ul class='menu'>
            {% for page in pages -%}
            <li{% if request.endpoint == page.endpoint %} class='selected'{% endif %}>
                {%- if request.endpoint == page.endpoint %}<strong>{% endif -%}
                <a href='{{ page.url or url_for(page.endpoint) }}'>{{ page.title }}</a>
                {%- if request.endpoint == page.endpoint %}</strong>{% endif -%}
            </li>
            {% endfor -%}
        </ul>
    </div>
    {% if current_user %}
    <div id='extra-nav'>
        <h3>Other Stuff</h3>
        <ul class='menu'>
            <li><a href='{{ url_for('landing') }}'>other leagues</a></li>
            <li><a href='{{ url_for('logout') }}' data-confirm='Are you sure you want to logout?'>logout</a></li>
        </ul>
    </div>
    {% endif %}
    <div id='content'>
        <h1>{{ page_title or head_title }}</h1>
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
