{% extends 'layouts/base.html' %}

{% block stylesheet -%}
<link rel='stylesheet' media='screen' href='{{ url_for('static', filename='css/faceoff.simple.css') }}'>
{%- endblock %}

{%- block body %}
<div class='container'>
    <div id='header'>
        <strong class='title'><a href='{{ logo_url | default(url_for('gate')) }}'>Faceoff</a></strong>
    </div>
    {% if current_user %}
    <div id='extra-nav'>
        <ul class='menu'>
            <li><span>{{ current_user.nickname }}</span></li>
            <li><a href='{{ url_for('profile') }}'>edit profile</a></li>
            <li><a href='{{ url_for('logout') }}' data-confirm='Are you sure you want to logout?'>logout</a></li>
        </ul>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id='flash-messages'>
            {% for message in messages %}
            <div class='alert alert-success'>
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div id='content'>
        {%- block content %}{% endblock %}
    </div>
</div>
{% endblock %}
