{% macro render_field(field, errpos='block') %}
<div class='control-group{{ ' error' if field.errors | length }}'>
    <label class='control-label' for='{{ field.id }}'>
        {{ field.label.text }}
        {%- if field.description -%}
        <span class='description'>(<a href='#' class='tip' title='{{ field.description }}'>?</a>)</span>
        {%- endif -%}
    </label>
    <div class='controls'>
        {{ field(**kwargs) | safe }}
        {%- if errpos == 'inline' and field.errors | length -%}
        <span class='help-inline'>{{ field.errors[0] }}</span>
        {%- endif -%} 
        {%- if errpos == 'block' and field.errors | length -%}
        <p class='help-block'>{{ field.errors[0] }}</p>
        {%- endif %} 
    </div>
</div>
{%- endmacro %}
