{% extends 'layouts/league.html' %}
{% set head_title = 'Settings' %}
{% block content %}
<div class='section'>
    <h2 class='center'><span>League Settings</span></h2>
    {% include 'forms/settings.html' %}
</div>
<div class='section'>
    <h2 class='center'><span>Rebuild Standings</span></h2>
    <div class='alert'>
        <strong>Warning:</strong> While rebuilding the standings won't break 
        anything, you shouldn't do it unless you have a good reason. Standings
        are automatically updated whenever a match is reported, so this should 
        only be used when testing something.
    </div>
    {% include 'forms/rebuild.html' %}
</div>
{% endblock %}
