{% extends 'layouts/league.html' %}
{% set head_title = 'Standings' %}
{% block content %}
<div id='leaderboard' class='section'>
    <h2 class='center'><span>Leaderboard</span></h2>
    {% if ranking | length %}
    <table class='table table-bordered table-striped standings'>
        <thead>
            <tr>
                <th class='rank'>Rank</th>
                <th class='nickname'>Nickname</th>
                <th class='wins'>W</th>
                <th class='losses'>L</th>
                <th class='games'>GP</th>
                <th class='streak'>ST</th>
            </tr>
        </thead>
        <tbody>
            {% for rank in ranking %}
            <tr {% if rank.user_id == current_user.id %}class="highlight"{% endif %}>
                <td class='rank'>{{ loop.index }}</td>
                <td class='nickname'>{{ rank.nickname }}</td>
                <td class='wins'>{{ rank.wins }}</td>
                <td class='losses'>{{ rank.losses }}</td>
                <td class='games'>{{ rank.games }}</td>
                <td class='streak'>
                    {% if rank.win_streak %}
                    <span class='good'>+{{ rank.win_streak }}</span>
                    {% elif rank.loss_streak %}
                    <span class='bad'>-{{ rank.loss_streak }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class='search-empty'>No matches have been played.</p>
    {% endif %}
</div>
{% endblock %}
